sqlalchemy==1.4.36
gql==3.3.0
pytest==7.1.2
requests_toolbelt==0.9.1
fastapi==0.78.0
uvicorn[standard]==0.17.6
boto3==1.21.31
pandas==1.4.1
psycopg2-binary==2.8.6
python-multipart==0.0.5
modal-client
